<<!DOCTYPE html>
<html>
    <head>
        <title>Techshop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header>
            <h1>Imágenes</h1>
        </header>
        <aside>
            <h2>Mis Autos</h2>
            <p>Los autos que en mi subconsciente llevo todos los días..</p>
        </aside>
        <section>
            <article>
                <h2>Lunes</h2>
                <img src="/images/lunes.jpg" width="300" alt="Auto del lunes"/>
            </article>
            <article>
                <h2>Martes</h2>
                <img src="https://www.record.com.mx/sites/default/files/articulos/2023/03/30/hennessey_venom_f5_roadster-6.jpg" width="300" alt="Auto del martes"/>
            </article>
        </section>
        <footer>
            <p>Todos los Derechos Reservados TechShop 2025 &copy;</p>
        </footer>
    </body>
</html>